html,
body,
header,
.carousel {
height: 53vh;
}
@media (max-width: 760px) {
html,
body,
header,
.carousel {
height: 100vh;
}
}
@media (min-width: 800px) and (max-width: 850px) {
html,
body,
header,
.carousel {
height: 100vh;
}
}
@media (min-width: 800px) and (max-width: 850px) {
.navbar:not(.top-nav-collapse) {
background: black !important;
}
.nav-item {
top: 50px;
}
}
